  <head>

    <link rel="shortcut icon" type="image/png" href="../images/icon.png"/>

    <title>Prevole</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



		<!--CSS files-->
		<link rel="stylesheet" type="text/css" href="../stylesheets/css/login.css">
		<link rel="stylesheet" type="text/css" href="../stylesheets/css/font-awesome.css">
		<link rel="stylesheet" href="../stylesheets/css/bootstrap.min.css">
		<link rel="stylesheet" href="../stylesheets/css/ionicons.min.css">
		<link rel="stylesheet" href="../stylesheets/css/main.css">
		<link href="../stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../stylesheets/css/styles.css" rel="stylesheet">
		<!-- Ending of CSSs  -->

		<!--Java script file -->
		<script src="../javascripts/maindropdown.js"></script>
		<script src="../stylesheets/bootstrap/js/bootstrap.min.js"></script>
		<script src="../javascripts/custom.js"></script>
		<!-- end of java Script files   -->

  </head>
