<!DOCTYPE html>
<html>
  <head>
    <title>Your Events</title>
    <link rel="shortcut icon" type="image/png" href="images/icon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta charset="UTF-8">

	<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="css/login.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/ionicons.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
	<!--All CSS Ended here-->

	<!--Java script file for account drop down -->
    <script src="js/maindropdown.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
	<!--Files end here-->

  </head>

  <body style= "background: url(images/event.png) no-repeat center center fixed;
  background-size: cover; height: 100%;">
    <!--Header part -->
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<!-- Logo -->
						<div class="logo">
							<h1><a href="index.html"><img src="images/logo.png" height="40" width="40"></img>Prevole</a></h1>
						</div>
					</div>
					<div class="col-md-5">
						<div class="row">
							<div class="col-lg-12">

							</div>
						</div>
					</div>
					<div class="col-md-2" align="right">
						<div class="navbar navbar-inverse" role="banner">
							<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
								<ul class="nav navbar-nav">
									<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<b class="caret"></b></a>
									<ul class="dropdown-menu animated fadeInUp">
										<li><a href="Profile.html">Profile</a></li>
										<li><a href="profile.html">Income</a></li>
                    <li><a href="completed events.html">Completed events</a></li>
										<li><a href="pending events.html">Pending Events</a></li>
										<li><a href="register.html">Register a Complain</a></li>
										<li><a href="login.html">Logout</a></li>
									</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Part End Here -->
    <div class="col-md-12" >
      <h1><center><i>Completed Events</i></h1>
    </div></br></br></br></br>


		<!--Event List Part-->
		<div class="page-content">
			<Table>
				<tr>
					<div class="row" >
						<div class="col-md-4 col-sm-6" >
							<div class="schedule-box">
								<div class="time">
									<time datetime="09:00">09:00 am</time> - <time datetime="22:00">10:00 am</time>
								</div>
								<h4>Welcome HERO</h4>
								<p>Hero, Jaipur</p>
								<p>Payment  - 1000 per day </p>
								<p>Payment Done (3 days event)</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="schedule-box">
								<div class="time">
									<time datetime="10:00">10:00 am</time> - <time datetime="22:00">10:00 am</time>
								</div>
								<h4>Welcome Virat resort</h4>
								<p>Virat resort, viratnagar</p>
								<p>Payment  - 1000 per day </p>
								<p>Payment Done (3 days event)</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="schedule-box">
								<div class="time">
									<time datetime="10:00">10:00 am</time> - <time datetime="22:00">10:00 am</time>
								</div>
								<h4>Welcome Virat resort</h4>
								<p>Virat resort, viratnagar</p>
								<p>Payment  - 1000 per day </p>
								<p>Payment Done (3 days event)</p>
							</div>
						</div>
					</div>
				</tr>
				<tr>
					<div class="row" >
						<div class="col-md-4 col-sm-6" >
							<div class="schedule-box">
								<div class="time">
									<time datetime="09:00">09:00 am</time> - <time datetime="22:00">10:00 am</time>
								</div>
								<h4>Welcome HERO</h4>
								<p>Hero, Jaipur</p>
								<p>Payment  - 1000 per day </p>
								<p>Payment Done (3 days event)</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="schedule-box">
								<div class="time">
									<time datetime="10:00">10:00 am</time> - <time datetime="22:00">10:00 am</time>
								</div>
								<h4>Welcome Virat resort</h4>
								<p>Virat resort, viratnagar</p>
								<p>Payment  - 1000 per day </p>
								<p>Payment Done (3 days event)</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="schedule-box">
								<div class="time">
									<time datetime="10:00">10:00 am</time> - <time datetime="22:00">10:00 am</time>
								</div>
								<h4>Welcome Virat resort</h4>
								<p>Virat resort, viratnagar</p>
								<p>Payment  - 1000 per day </p>
								<p>Payment Done (3 days event)</p>
							</div>
						</div>
					</div>
				</tr>
				<tr>
					<div class="row" >
						<div class="col-md-4 col-sm-6" >
							<div class="schedule-box">
								<div class="time">
									<time datetime="09:00">09:00 am</time> - <time datetime="22:00">10:00 am</time>
								</div>
								<h4>Welcome HERO</h4>
								<p>Hero, Jaipur</p>
								<p>Payment  - 1000 per day </p>
								<p>Payment Done (3 days event)</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="schedule-box">
								<div class="time">
									<time datetime="10:00">10:00 am</time> - <time datetime="22:00">10:00 am</time>
								</div>
								<h4>Welcome Virat resort</h4>
								<p>Virat resort, viratnagar</p>
								<p>Payment  - 1000 per day </p>
								<p>Payment Done (3 days event)</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="schedule-box">
								<div class="time">
									<time datetime="10:00">10:00 am</time> - <time datetime="22:00">10:00 am</time>
								</div>
								<h4>Welcome Virat resort</h4>
								<p>Virat resort, viratnagar</p>
								<p>Payment  - 1000 per day </p>
								<p>Payment Done (3 days event)</p>
							</div>
						</div>
					</div>
				</tr>
			</table>
		</div>

		<br><br><br>


		<!-- Footer part  -->

		<footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright">
							<center><p>Prevole.com , All rights reserved |<a href="#">Top Of Page</a></p></center>
						</div>
					</div>
					<div class="col-md-6">
						<div class="social_icons agileinfo">
							<ul class="top-links">
                <li><a href="https://www.facebook.com/prevole" class="facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.twitter.com/prevole" class="twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://plus.google.com/+prevole" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="https://in.linkedin.com/company/prevole" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://www.instagram.com/prevole" class="instagram"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
  <!--Footer End here-->
	</body>
</html>
