<!DOCTYPE html>
<html>
  <head>

    <link rel="shortcut icon" type="image/png" href="images/icon.png"/>

    <title>Prevole</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



		<!--CSS files-->
		<link rel="stylesheet" type="text/css" href="css/login.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/ionicons.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
		<!-- Ending of CSSs  -->

		<!--Java script file -->
		<script src="js/maindropdown.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="js/custom.js"></script>
		<!-- end of java Script files   -->

  </head>

  <style type="text/css">
	p{
		font-size: medium;
	}
    </style>
	<body>
		<!--Header part -->
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
					<!-- Logo -->
						<div class="logo">
							<h1><a href="index.html"><img src="images/logo.png" height="40" width="40"></img>   Prevole</a></h1>
						</div>
					</div>
					<div class="col-md-5">
						<div class="row">
							<div class="col-lg-12">

							</div>
						</div>
					</div>
					<div class="col-md-2" align="right">
						<div class="navbar navbar-inverse" role="banner">
							<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
								<ul class="nav navbar-nav">
									<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<b class="caret"></b></a>
									<ul class="dropdown-menu animated fadeInUp">
										<li><a href="Profile.html">Profile</a></li>
										<li><a href="profile.html">Income</a></li>
										<li><a href="completed events.html">Completed events</a></li>
										<li><a href="pending events.html">Pending Events</a></li>
										<li><a href="register.html">Register a Complain</a></li>
										<li><a href="login.html">Logout</a></li>
									</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Part End Here -->

	    <!-- Page Content -->
	    <div class="container">

	      <div class="panel-body">

	        <!-- Post Content Column -->
	        <div class="col-lg-8">

	          <!-- Title -->
	          <h1><b><u>Event Title</u></b></h1>

	          <hr>

	          <!-- Date/Time -->
	          <p>Posted on January 1, 2018 at 12:00 PM</p>

	          <hr>

	          <!-- Preview Image -->
	          <img src="images/MainEventLogo.jpg" alt="">

	          <hr>

	        <!-- Post Content -->
	        <h3>Description:</h3>
				<p>This event is for MALES.</p>

			<h3>Your work profile:</h3>
				<p>- To distribute pamphlets <br>
				- Collect data & contact details of the customers.</p>

			<h3>Selection Criteria:</h3>
				<p>- Looks should be Above Average.<br>
				- English / Communication Skills should be Above Average.<br>
				- Selection Based on Photographs.</p>

			<h3>Work Location: XXXXXX</h3>
				<p>Work Timings: XX:00 PM to XX:00 PM<br>
				Dress-code: Formals<br>
				For any doubts or details contact:<br>
				Event Head - Mr. Person : 9876543210</p>





			<h3>Eligibility:</h3>
				<p>-Should look presentable.</p>


			<h3>Brief / Selection Date</h3>
				<p>Saturday, 15 Sep. 2018 (1 p.m.)</p>

			<h3>Event Dates</h3>
				<p>15,30 Sep. 2018</p>


			<h3>Payments:</h3>
				<p><b>Total Payment:</b><br>
				₹400/- x 2 days = ₹ 800/-<br>
				The payment will be made till Oct. 25, 2018.</p>

			<br><br>

			<h3><b>Terms & Conditions:</b></h3>
				<p><ul><li>Once applied for an event job, you can't back out.</li>
				<li>You cannot leave an event in between. If you leave or don't attend any of the working days then you will not be paid at all.</li>
				<li>You cannot work for our client directly under any circumstances. Failing to abide by this, would result in non-payment and legal action.</li>
				<li>Any misbehaviour/misconduct against the company or EventBaba will result in legal action to be taken against an individual or a group of people.</li>
				<li>The user must collect the payment on the day it is sanctioned. If the user doesn't collect his/her payment, then EventBaba won't be responsible for paying the added late payments. </li></ul></p>
	        </div>

	        <div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
					<a href="index.html"><input type="button" class="btn btn-primary" value = "Apply"></button></a>
				</div>
			</div>
	    </div>
	</div>


    <footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright">
							<p>Prevole.com , All rights reserved |<a href="#">Top Of Page</a></p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="social_icons agileinfo">
							<ul class="top-links">
                <li><a href="https://www.facebook.com/prevole" class="facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.twitter.com/prevole" class="twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://plus.google.com/+prevole" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="https://in.linkedin.com/company/prevole" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://www.instagram.com/prevole" class="instagram"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Of Footer -->
	</body>
</html>
