<!DOCTYPE html>
<html lang="en">
	<head>

		<link rel="shortcut icon" type="image/png" href="images/icon.png"/>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>  Prevole - Forgot Password</title>

		<!-- Script -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/smooth-scroll.min.js"></script>
		<script src="js/main.js"></script>
		<!-- Script ended-->

		<!--CSS files-->
		<link rel="stylesheet" type="text/css" href="css/login.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/ionicons.min.css">
		<link rel="stylesheet" href="css/main.css">
		<!-- CSS ended-->
    </head>

	<body data-spy="scroll" data-target="#site-nav" background="images/event.png">

		<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
			<div class="container">
				<div class="navbar-header">
					<div class="site-branding">
						<a class="logo" href="home.html">
							<img src="images/logo.png" alt="Logo">
							  Prevole
						</a>
					</div>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
					</button>
				</div><!-- /.navbar-header -->
				<div class="collapse navbar-collapse" id="navbar-items">
					<ul class="nav navbar-nav navbar-right">
						<li><a  id="textcolor" href="home.html">home</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!--NavBar ended now body part for id and password started-->
		<header id="site-header" class="site-header valign-center">

			<div class="intro">
				<div class="main">
					<div class="main-w3lsrow">
					<!-- login form -->
						<div class="login-form login-form-left">
							<div class="agile-row">
								<div class="head">
									<span class="fa fa-lock"></span>
								</div>
								<div class="login-agileits-bottom">
									<h6>Forgot your password?</h6>
								</div>
								<div class="clear"></div>
									<div class="login-agileits-top">
										<form action="index.html" method="post">
											<input type="text" class="name" name="Email" Placeholder="Email" required=""/>
											<input type="submit" value="Reset Password">
										</form>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--Login Ended-->

		<!-- footer  -->
		<footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright">
							<p>Prevole.com , All rights reserved |<a href="#">Top Of Page</a></p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="social_icons agileinfo">
							<ul class="top-links">
								<li><a href="https://www.facebook.com/prevole" class="facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.twitter.com/prevole" class="twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://plus.google.com/+prevole" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="https://in.linkedin.com/company/prevole" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://www.instagram.com/prevole" class="instagram"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
