
<!DOCTYPE html>
<html>
	<head>

		<!--Title-->
		<link rel="shortcut icon" type="image/png" href="images/icon.png"/>
		<title>Gallery</title>

		<!--Meta charset-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!--CSS files linking-->

		<link rel="stylesheet" href="css/stylegallery.css">
		<link rel="stylesheet" type="text/css" href="css/login.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/ionicons.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">


		<!--Java query file-->
		<script src="js/maindropdown.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="js/custom.js"></script>
	</head>

	<body style= "background: url(images/event.png) no-repeat center center fixed;
  background-size: cover; height: 100%;">


	<!--Header part -->
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<!-- Logo -->
						<div class="logo">
							<h1><a href="index.html"><img src="images/logo.png" height="40" width="40"></img>   Prevole</a></h1>
						</div>
					</div>
					<div class="col-md-5">
						<div class="row">
							<div class="col-lg-12">

							</div>
						</div>
					</div>
					<div class="col-md-2" align="right">
						<div class="navbar navbar-inverse" role="banner">
							<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
								<ul class="nav navbar-nav">
									<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<b class="caret"></b></a>
									<ul class="dropdown-menu animated fadeInUp">
										<li><a href="Profile.html">Profile</a></li>
										<li><a href="profile.html">Income</a></li>
										<li><a href="profile.html">Completed events</a></li>
										<li><a href="profile.html">Pending Events</a></li>
										<li><a href="register.html">Register a Complain</a></li>
										<li><a href="login.html">Logout</a></li>
									</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Part End Here -->

		<!--Part For pics-->

		<div class="fh5co-gallery">
			<center><H3 style="color:white">Memories that are preserved with us</h3></center>
			<a class="gallery-item" href="single.html">
				<img src="images/work_1.jpg" alt="Administration"/>
				<span class="overlay">
					<h2>Administration</h2>
					<span>14 Photos</span>
				</span>
			</a>
			<a class="gallery-item" href="single.html">
				<img src="images/work_2.jpg" alt="Marketing Events"/>
				<span class="overlay">
					<h2>Marketing Events</h2>
					<span>7 Photos</span>
				</span>
			</a>
			<a class="gallery-item" href="single.html">
				<img src="images/work_3.jpg" alt="Non marketing Events"/>
				<span class="overlay">
					<h2>Non Maketing Events</h2>
					<span>22 Photos</span>
				</span>
			</a>
			<a class="gallery-item" href="single.html">
				<img src="images/work_4.jpg" alt="Wedding Events"/>
				<span class="overlay">
					<h2>Wedding Events</h2>
					<span>28 Photos</span>
				</span>
			</a>
			<a class="gallery-item" href="single.html">
				<img src="images/work_5.jpg" alt="Fun activites"/>
				<span class="overlay">
					<h2>Fun activities</h2>
					<span>17 Photos</span>
				</span>
			</a>
			<a class="gallery-item" href="single.html">
				<img src="images/work_6.jpg" alt="Prize Distribution"/>
				<span class="overlay">
					<h2>Prize Distribution</h2>
					<span>34 Photos</span>
				</span>
			</a>
			<a class="gallery-item" href="single.html">
				<img src="images/work_7.jpg" alt="Our teams">
				<span class="overlay">
					<h2>Our teams</h2>
					<span>10 Photos</span>
				</span>
			</a>
			<a class="gallery-item" href="single.html">
				<img src="images/work_8.jpg" alt="Our tieUps">
				<span class="overlay">
					<h2>Our tieups</h2>
					<span>19 Photos</span>
				</span>
			</a>
			<a class="gallery-item" href="single.html">
				<img src="images/work_9.jpg" alt="Achivents">
				<span class="overlay">
					<h2>Achivents</h2>
					<span>42 Photos</span>
					</span>
			</a>
			<a class="gallery-item" href="single.html">
				<img src="images/work_10.jpg" alt="Charity">
				<span class="overlay">
					<h2>Charity</h2>
					<span>10 Photos</span>
				</span>
			</a>
			<a class="gallery-item" href="single.html">
				<img src="images/work_11.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
				<span class="overlay">
					<h2>Gadgets</h2>
					<span>76 Photos</span>
				</span>
			</a>
			<a class="gallery-item" href="single.html">
				<img src="images/work_12.jpg" alt="Other">
				<span class="overlay">
					<h2>Others</h2>
					<span>55 Photos</span>
				</span>
			</a>
		</div>

		<!-- footer Part-->
		<footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright">
							<p>Prevole.com , All rights reserved |<a href="#">Top Of Page</a></p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="social_icons agileinfo">
							<ul class="top-links">
								<li><a href="https://www.facebook.com/prevole" class="facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.twitter.com/prevole" class="twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://plus.google.com/+prevole" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="https://in.linkedin.com/company/prevole" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://www.instagram.com/prevole" class="instagram"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Of Footer -->



	</body>
</html>
