<!DOCTYPE html>
<html lang="en">
	<head>

		<link rel="shortcut icon" type="image/png" href="images/icon.png"/>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Title me image lagene ke liye-->
		<title>Prevole</title>
		<!-- end of title-->

		<!-- css -->
		<link rel="stylesheet" type="text/css" href="css/login.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/ionicons.min.css">
		<link rel="stylesheet" href="css/main.css">
		<!-- css -->

		<!-- script -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/smooth-scroll.min.js"></script>
		<script src="js/main.js"></script>
		<!--END-->

	</head>

	<body data-spy="scroll" data-target="#site-nav">
		<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
			<div class="container">
				<div class="navbar-header">
					<!-- logo -->
					<div class="site-branding">
						<a class="logo" href="login.html">
							<!-- logo image  -->
							<img src="images/logo.png" alt="Logo"/>
							Prevole
						</a>
					</div>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div><!-- /.navbar-header -->

				<div class="collapse navbar-collapse" id="navbar-items">
					<ul class="nav navbar-nav navbar-right">
						<!-- navigation menu -->
						<li class="active"><a data-scroll href="#about">About</a></li>
						<li><a data-scroll href="#schedule">Schedule</a></li>
						<li><a data-scroll href="#partner">Event</a></li>
						<li><a  id="textcolor" href="login.html">Login</a></li>
					</ul>
				</div>
			</div><!-- /.container -->
		</nav>

		<!--header complete below part here-->
		<header id="site-header" class="site-header valign-center">
			<div class="intro">
				<h2>A platform full of Opportunaties</h2>
				<h1>Yours dreams are now ours</h1>
				<p>Biggest platform to provide short term jobs</p>
				<a class="btn btn-white"  href="signup.html">Register Now</a>
			</div>
		</header>
		<!-- done next about part-->

		<!-- ABOUT -->
		<section id="about" class="section about">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h3 class="section-title">About Us</h3>
						<p>
						We are about providing short term employment with help of some ventures and some of big business tycoon.
						We tries to utilize your free time and convert it into a good amount of money.
						We are about to hire you for a few days on basis of our ventures requirment and provide you a godd amount of time for your
						precious time.
						All we want your direct contact with the event organiser without any intermidiate.
						</p>
						<figure>
						<!--	<img alt="" class="img-responsive" src="images/about-us.jpg" width="427" height="182" align="middle"> -->
						</figure>
					</div>
					<div class="col-sm-6">
						<h3 class="section-title multiple-title">What is Our Goal?</h3>
						<p>Our goal is to provide you short term jobs available in your locality without any hazzle.
							We connect you to company with the easiest way possible.
							We ensure that you get the maximum salary possible for your work.
						</p>
						<ul>
							<li>Earn on weekends</li>
							<li>Get maximum amount for your work</li>
							<li>Earn money by working on a day-to-day basis</li>
						</ul>
					</div>
				</div>
			</div>
		</section><hr>

		<!--About End>
		<!-- schedule -->
		<section id="schedule" class="section schedule">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3 class="section-title">Event Schedule</h3>
					</div>
				</div>
				<div class="row" >
					<div class="col-md-4 col-sm-6" >
						<div class="schedule-box">
							<div class="time">
								<time datetime="09:00">09:00 am</time> - <time datetime="22:00">10:00 am</time>
							</div>
							<h3>Welcome HERO</h3>
							<p>Hero, Jaipur</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="schedule-box">
							<div class="time">
								<time datetime="10:00">10:00 am</time> - <time datetime="22:00">10:00 am</time>
							</div>
							<h3>Welcome Virat resort</h3>
							<p>Virat resort, viratnagar</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="schedule-box">
							<div class="time">
								<time datetime="10:00">10:00 am</time> - <time datetime="22:00">10:00 am</time>
							</div>
							<h3>Welcome JMC</h3>
							<p>JMC, Jaipur</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="partner" class="section partner">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3 class="section-title">Events</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<a class="partner-box partner-box-1"></a>
					</div>
					<div class="col-sm-3">
						<a class="partner-box partner-box-2"></a>
					</div>
					<div class="col-sm-3">
						<a class="partner-box partner-box-3"></a>
					</div>
					<div class="col-sm-3">
						<a class="partner-box partner-box-4"></a>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<a class="partner-box partner-box-5"></a>
					</div>
					<div class="col-sm-3">
						<a class="partner-box partner-box-6"></a>
					</div>
					<div class="col-sm-3">
						<a class="partner-box partner-box-7"></a>
					</div>
					<div class="col-sm-3">
						<a class="partner-box partner-box-8"></a>
					</div>
				</div>
		</section>

		<!--Events company ended Sucessfully-->
		<!--Footer of Home Page-->

		<footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright">
							<p>Prevole.com , All rights reserved |<a href="#">Top Of Page</a></p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="social_icons agileinfo">
							<ul class="top-links">
								<li><a href="https://www.facebook.com/prevole" class="facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.twitter.com/prevole" class="twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://plus.google.com/+prevole" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="https://in.linkedin.com/company/prevole" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://www.instagram.com/prevole" class="instagram"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
