<!DOCTYPE html>
<html>
	{{> head }}

	<body style= "background: url(../images/event.png) no-repeat center center fixed;
	background-size: cover;
	height: 100%;">
		<!--Header part -->
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
					<!-- Logo -->
						<div class="logo">
							<h1><a href="index.html"><img src="images/logo.png" height="40" width="40"></img>   Prevole</a></h1>
						</div>
					</div>
					<div class="col-md-5">
						<div class="row">
							<div class="col-lg-12">

							</div>
						</div>
					</div>
					<div class="col-md-2" align="right">
						<div class="navbar navbar-inverse" role="banner">
							<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
								<ul class="nav navbar-nav">
									<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<b class="caret"></b></a>
									<ul class="dropdown-menu animated fadeInUp">
										<li><a href="Profile.html">Profile</a></li>
										<li><a href="profile.html">Income</a></li>
										<li><a href="completed events.html">Completed events</a></li>
										<li><a href="pending events.html">Pending Events</a></li>
										<li><a href="register.html">Register a Complain</a></li>
										<li><a href="login.html">Logout</a></li>
									</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Part End Here -->

		<!-- Middle Part -->
		<table>
			<tr>
				<th>
					<div class="row">
						<div style= "margin-top:120px;">
							<div class="sidebar content-box" style="display: block;">
								<ul class="nav">
									<!-- Main menu -->
									<li class="current"><a href="index.html"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
									<li><a href="events.html"><i class="glyphicon glyphicon-stats"></i> Events</a></li>
									<li><a href="gallery.html"><i class="glyphicon glyphicon-picture"></i> Gallery</a></li>
									<li><a href="buttons.html"><i class="glyphicon glyphicon-send"></i> Storiers (Earn from us)</a></li>
									<li><a href="contactus.html"><i class="glyphicon glyphicon-envelope"></i> Contact us</a></li>
									<li><a href="feedback.html"><i class="glyphicon glyphicon-comment"></i> Feedback</a></li>
								</ul>
							</div>
						</div>
					</div>
				</th>
				<!-- Events showing part it shold be animated-->

        <th>
					<div class="page-content">
						<section id="schedule" class="section schedule">
							<div class="container">
								<div class="row">
									<div class="col-md-12" style="text-align: center;">
                    <h2 class="section-title"><center><b>Event Schedule</b></center></h2>
									</div>
								</div>
								<marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                  <div class="row" >
									<div class="col-md-4 col-sm-6" >
										<div class="schedule-box">
											<div class="time">
												<time datetime="09:00">09:00 am</time> - <time datetime="22:00">10:00 am</time>
											</div>
											<h3>Welcome HERO</h3>
											<p>Hero, Jaipur</p>
										</div>
									</div>
									<div class="col-md-4 col-sm-6">
										<div class="schedule-box">
											<div class="time">
												<time datetime="10:00">10:00 am</time> - <time datetime="22:00">10:00 am</time>
											</div>
											<h3>Welcome Virat resort</h3>
											<p>Virat resort, viratnagar</p>
										</div>
									</div>
									<div class="col-md-4 col-sm-6">
										<div class="schedule-box">
                      <div class="time">
												<time datetime="10:00">10:00 am</time> - <time datetime="22:00">10:00 am</time>
											</div>
											<h3>Welcome Virat resort</h3>
											<p>Virat resort, viratnagar</p>
										</div>
									</div>
								</div>
              </marquee>
							</div>
						</section>
					</div>
				</th>
			</tr>
		</table>
		<!-- ENd of Middle Part-->
    <footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright">
							<p>Prevole.com , All rights reserved |<a href="#">Top Of Page</a></p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="social_icons agileinfo">
							<ul class="top-links">
                <li><a href="https://www.facebook.com/prevole" class="facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.twitter.com/prevole" class="twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://plus.google.com/+prevole" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="https://in.linkedin.com/company/prevole" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://www.instagram.com/prevole" class="instagram"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Of Footer -->
	</body>
</html>
