<!DOCTYPE html>
<html>
	<head>

		<link rel="shortcut icon" type="image/png" href="images/icon.png"/>
		<title>Our gallery</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- -->
		<link rel="stylesheet" href="css/animategallery.css">
		<link rel="stylesheet" href="css/stylegallery.css">
		<link rel="stylesheet" type="text/css" href="css/login.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/ionicons.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">

		<!--Java script file-->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/jquery.stellar.min.js"></script>
		<script src="js/jquery.waypoints.min.js"></script>
		<script src="js/maingallery.js"></script>
	</head>

	<body  style= "background: url(images/event.png) no-repeat center center fixed;
  background-size: cover; height: 100%;">
		<!--Header part -->
		<div class="header">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
					<!-- Logo -->
						<div class="logo">
							<h1><a href="index.html"><img src="images/logo.png" height="40" width="40"></img>   Prevole</a></h1>
						</div>
					</div>
					<div class="col-md-5">
						<div class="row">
							<div class="col-lg-12">

							</div>
						</div>
					</div>
					<div class="col-md-2" align="right">
						<div class="navbar navbar-inverse" role="banner">
							<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
								<ul class="nav navbar-nav">
									<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<b class="caret"></b></a>
									<ul class="dropdown-menu animated fadeInUp">
										<li><a href="Profile.html">Profile</a></li>
										<li><a href="profile.html">Income</a></li>
										<li><a href="completed events.html">Completed events</a></li>
										<li><a href="pending events.html">Pending Events</a></li>
										<li><a href="register.html">Register a Complain</a></li>
										<li><a href="login.html">Logout</a></li>
									</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Part End Here -->

		<div class="fh5co-narrow-content animate-box fh5co-border-bottom" data-animate-effect="fadeInLeft">
			<div class="col-md-12" >
				<h2><center><b>TieUps</b></h2>
			</div>
			<div class="col-md-12" >
				<h4><center><b>*some of brand events hosted by Prevole*</b></h4>
			</div>
			<center>
				<div class="row">
					<div class="col-md-12">
						<figure><img src="images/big_1.jpg" alt="Samsung" class="img-responsive"></figure>
					</div>
					<div class="col-md-12">
						<figure><img src="images/big_2.jpg" alt="Nokia" class="img-responsive">
							<figcaption>Nokia one of our Tieups <a href="#">Nokia</a> We conduct many events with nokia</figcaption>
						</figure>
					</div>
					<div class="col-md-12">
						<figure><img src="images/big_3.jpg" alt="Free HTML5 Bootstrap Template by FreeHTML5.co" class="img-responsive"></figure>
					</div>
					<div class="col-md-12">
						<p class="text-center"><a href="gallery.html" class="btn btn-primary btn-outline">More Photos</a></p>
					</div>
				</div>
			</center>
		</div>
		<footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="copyright">
							<p>Prevole.com , All rights reserved |<a href="#">Top Of Page</a></p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="social_icons agileinfo">
							<ul class="top-links">
								<li><a href="https://www.facebook.com/prevole" class="facebook"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.twitter.com/prevole" class="twitter"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://plus.google.com/+prevole" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="https://in.linkedin.com/company/prevole" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="https://www.instagram.com/prevole" class="instagram"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Of Footer -->
	</body>
</html>
